---
// 卡片海报图
import { Image } from "astro:assets";
import { format } from "date-fns";
import { useTranslations } from "@i18n/util";
import { BLOG_IMAGE_SOURCE } from "@/constant";
import { Button } from "@serverless-cd/goat-ui";

const t = useTranslations(Astro);
export type Props = {
  source: string;
  post: {
    slug: string;
    body: string;
    collection: string;
    data: {
      title: string;
      description: string;
      date: string;
      keywords?: any[];
    };
  };
  posterWidth?: string;
  type?: string;
  index?: number;
};

const { post, source, posterWidth, type = "blog", index = 0 } = Astro.props;

const { data: postData } = post;
// @ts-ignore
postData.date = new Date(postData.date);
---

<div class="card h-[420px] bg-error shadow-none w-full markdown-card-wrapper">
  <div class="mt-3 px-2 h-2/5 w-full">
    <img
      src={index
        ? BLOG_IMAGE_SOURCE[index - 1]
        : "https://img.alicdn.com/imgextra/i2/O1CN01M1XatB1r8RMxNmGKu_!!6000000005586-0-tps-1000-667.jpg"}
      alt="Background"
      class="rounded-2xl w-full h-full"
    />
  </div>
  <div class="w-full h-auto pt-2 px-6">
    <p class="text-success text-xs font-normal">
      {format(postData.date, "MMM d, yyyy")}
    </p>
    <h2
      class="card-title text-neutral leading-8 line-clamp-2 mb-3 font-normal text-xl mt-3"
    >
      {postData.title}
    </h2>
    <Button
      variant="secondary"
      class="rounded-3xl text-xs absolute bottom-3"
      href={`/blog/${post.slug}/?source=${source}`}
      text={t("blog.card.read.artile")}
    />
  </div>
</div>

<style is:global>
  .markdown-card-wrapper {
    .card {
      transition:
        transform 0.2s,
        box-shadow 0.2s;
    }
    .card:hover {
      transition:
        transform 0.2s,
        box-shadow 0.2s;
      transform: translateY(-4px);
      box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.1),
        -4px -4px 8px rgba(0, 0, 0, 0.1);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    h2 {
      min-height: 3rem;
    }
  }
</style>
