---
import BaseContainer from "@components/common/BaseContainer.astro";
import SimpleCard from "@components/markdownSet/SimpleCard.astro";
import type { Post } from "@/types";
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
interface Props {
    pageList: Post[];
    source?: string;
}

const { pageList, source = "blog" } = Astro.props as Props;

// Get word for mdx
const getExcerpt = (content, length = 200, defaultExcerpt = "") => {
    try {
        const strippedContent = content.replace(/(<([^>]+)>)/gi, "");
        const plainText = strippedContent.replace(
            /[#>*-]|\[.*?\]\(.*?\)|\!\[.*?\]\(.*?\)/g,
            "",
        );
        let excerpt = plainText.substring(0, length);

        if (plainText.length > length) {
            excerpt += "...";
        }
        return excerpt;
    } catch (error) {
        return defaultExcerpt;
    }
};

if (pageList && pageList.length) {
    pageList.forEach((item) => {
        item.excerpt = getExcerpt(item.body, 300, item.data?.description);
    });
}
---

<BaseContainer class="flex justify-between simple-container-wrapper">
    <div
        class="max-w-[200px] min-w-[200px] hidden 2xl:block xl:block lg:block relative"
    >
        <div class="sticky top-[100px]">
            {
                pageList && pageList.length ? (
                    <div class="text-lg text-gray-08 mb-[32px]">
                        {t("commmon.header.comm.article")}
                    </div>
                ) : null
            }
            <ul class="text-[16px] text-gray-14 user-config-h-list">
                {
                    pageList.map((post) => {
                        return (
                            <li>
                                <a
                                    class="no-underline font-normal block mb-[24px] pagelist-a hover:font-bold duration-100 text-left break-words"
                                    href={`#${post.slug}`}
                                >
                                    {post.data.title}
                                </a>
                            </li>
                        );
                    })
                }
            </ul>
        </div>
    </div>

    <ul
        class="flex-1 blog-all grid grid-cols-1 gap-6 place-items-stretch 2xl:ml-[100px] xl:ml-[80px] lg:ml-[50px] md:ml-[0px]"
    >
        {
            pageList.map((post) => (
                <SimpleCard
                    post={post as Post}
                    source={source}
                    useAnchor={true}
                    class="bg-secondary"
                />
            ))
        }
    </ul>
</BaseContainer>

<style is:global>
    .simple-container-wrapper {
        .pagelist-a {
            color: rgb(var(--gray));
        }
        main {
            width: 960px;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 0;
        }
        ul li * {
            text-decoration: none;
            transition: 0.2s ease;
        }
        ul li:first-child {
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
        }
        ul li:first-child img {
            width: 100%;
        }
        ul li:first-child .title {
            font-size: 2.369rem;
        }
        ul li img {
            margin-bottom: 0.5rem;
            border-radius: 12px;
        }
        ul li a {
            display: block;
        }
        .title {
            margin: 0;
            color: rgb(var(--black));
            line-height: 1;
        }
        .date {
            margin: 0;
            color: rgb(var(--gray));
        }
        ul li a:hover h4,
        ul li a:hover .date {
            color: rgb(var(--accent));
        }
        ul a:hover img {
            box-shadow: var(--box-shadow);
        }
        @media (max-width: 50rem) {
            .blog-all {
                padding: 0 1.5rem;
            }
            ul {
                gap: 0.5em;
            }
            ul li {
                width: 100%;
                text-align: center;
            }
            ul li:first-child {
                margin-bottom: 0;
            }
            ul li:first-child .title {
                font-size: 1.563em;
            }
        }
        .user-config-h-list {
            max-height: calc(100vh - 180px);
            overflow: scroll;
            scrollbar-color: theme("colors.success") theme("colors.error");
        }
        .break-all {
            word-break: break-all;
        }
    }
</style>
