---
import { OverviewImage } from "./index";
import { useTranslations } from "@i18n/util";
const t = useTranslations(Astro);
---

<div class="overview-image-wrapper bg-base-100">
    <div class="top-title w-full flex flex-col items-center mb-[31px] pt-16">
        <span class="text-gray-10 text-xs mb-6"
            >{t("home.overviewcard.about")}</span
        >
        <span class="title text-gray-14 text-4xl font-medium"
            >{t("home.overviewcard.title")}</span
        >
    </div>
    <OverviewImage
        client:load
        colors={{
            panelTitleColor:'#597371',//治理面、控制面等字体颜色
            arrowColor: "#5DC07E",
            highlightFontColor: "#418B47",
            normalFontColor: "#9295A5",
            tagBgColor: "#D6EAD8", //弹框右上方标签背景颜色
            tagBorderColor: "#5DC07E", //弹框右上方标签边框颜色
            tagFontColor: "#418B47", //弹框右上方标签字体颜色
            starForkFontColor: "#5DC07E", //弹框收藏、分享数据字体颜色
            starForkBgColor: "#D6EAD8", //弹框收藏、分享数据背景颜色
            linkColor: "#5DC07E", //弹框链接颜色
        }}
        className="mx-auto"
    />
</div>

<style is:global>
    .overview-image-wrapper {
        /* 小于50rem  小于 800px */
        @media (max-width: 50rem) {
            .top-title {
                margin-bottom: 2.5rem;
            }
            .top-title .title {
                font-size: 1.125rem; /* 18px */
                line-height: 1.75rem; /* 28px */
            }
        }
    }
</style>
