@import '../../../css/variables.scss';
.introduction-section {
  background: #fff;
  .introduction-body {
    max-width: $contentWidth;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 640px;
    padding: 40px 40px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .introduction {
      display: inline-block;
      width: calc(100% - 530px);
      min-width: 300px;
      max-width: 650px;
      h3 {
        font-family: Avenir-Medium;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 20px;
        word-break: break-word;
        color: #5381fd;
      }
      p {
        line-height: 28px;
        opacity: 0.56;
        font-family: Avenir-Medium;
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
      }
      ul {
        list-style: none;
        margin-top: 25px;
        li {
          position: relative;
          margin-bottom: 25px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        li::before {
          content: '';
          position: absolute;
          left: 0;
          top: 10px;
          width: 6px;
          height: 6px;
          background: #999;
          border-radius: 50%;
        }
        p {
          display: inline-block;
          margin-left: 12px;
        }
      }
    }
    .img-wrapper {
      width: 100vw;
      text-align:center;
      img {
        width: 70%;
        height: auto;
        // width: 1134px;
        // height: 553px;
        // max-width: 100%;
      }
    }

    @media screen and (max-width: 1106px) {
      .introduction {
        display: inline-block;
        width: 100%;
        max-width: 100%;
      }
      img {
        margin: 0;
      }
    }
  }
}
