---
import { useTranslations } from "@i18n/util";
import { Headline } from "@serverless-cd/goat-ui";
import { CHOOSE_REASON_LIST } from "@/constant";
import { Adaptive, Easy, TimeTested, Variety } from "../icon";

const t = useTranslations(Astro);
---

<span class="choose-reason-wrapper">
  <choose-reason
    class="choose-reason block bg-base-100 pt-36 flex flex-col justify-center items-center"
  >
    <Headline
      tagline={t("home.website.edge.about")}
      title={t("home.website.edge.title")}
      titleTheme="neutral"
      taglineTheme="info"
    />

    <div class="bottom-card flex flex-wrap">
      {
        CHOOSE_REASON_LIST.map((reason) => {
          const { title, svgKey, description } = reason;
          return (
            <div class="item px-5 border-link border-l">
              <div class="transfrom-header block">
                <div class="w-12 h-12 bg-muted rounded-md flex justify-center items-center mb-5">
                  {(() => {
                    switch (svgKey) {
                      case "adaptive":
                        return <Adaptive classes="fill-primary" />;
                      case "easy":
                        return <Easy classes="fill-primary" />;
                      case "timeTested":
                        return <TimeTested classes="fill-primary" />;
                      case "variety":
                        return <Variety classes="fill-primary" />;
                      default:
                        return null;
                    }
                  })()}
                </div>
                <div class="py-4 text-info text-[.875rem] leading-4 tracking-[0.15em]">
                  {t(title)}
                </div>
              </div>

              <div class="text-neutral text-sm" set:html={t(description)} />
            </div>
          );
        })
      }
    </div>
  </choose-reason>
</span>

<style is:global>
  .choose-reason-wrapper {
    .primary-fill {
      fill: theme("colors.primary");
    }
    ,
    .top-title,
    .bottom-card {
      width: 85.125rem;
    }
    .bottom-card .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 25%;
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .choose-reason {
        padding: 1.5rem;
      }
      .top-title,
      .bottom-card {
        width: 100%;
      }
      .top-title {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
      .top-title .title {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
      }
      .bottom-card .item {
        flex: 0 0 100%;
        border-left: none;
        padding: 1.25rem 0;
        border-bottom: 1px solid theme("colors.success");
      }
      .bottom-card .item .transfrom-header {
        display: flex;
      }
      .transfrom-header div:last-child {
        margin-left: 1rem;
      }
    }

    /* 大于50rem 小于 72rem  800px < width < 1152 */
    @media (min-width: 50rem) and (max-width: 86rem) {
      .choose-reason {
        padding: 2.5rem;
      }
      .top-title,
      .bottom-card {
        width: 100%;
      }
      .bottom-card .item {
        flex: 0 0 50%;
        border-left: none;
        padding-bottom: 1.25rem;
      }
      .bottom-card .item:first-child {
        border-right: 1px solid theme("colors.success");
        border-bottom: 1px solid theme("colors.success");
      }
      .bottom-card .item:nth-child(2) {
        border-bottom: 1px solid theme("colors.success");
      }
      .bottom-card .item:nth-child(3) {
        border-right: 1px solid theme("colors.success");
        padding-top: 1.25rem;
      }
      .bottom-card .item:last-child {
        padding-top: 1.25rem;
      }
    }
  }
</style>
