---
import { useTranslations, isChinese } from "@i18n/util";
import StarAndForkV2 from "./StarAndForkV2/index.jsx";
import Carousel from "./Carousel.astro";
import ProductDisplayCard from "@components/home/ProductDisplayCard.astro";
import { SITE } from "@utils/config";
import sendFetch from "@/utils/sendFetch";
import AiButton from "@components/ai/AiButton.astro";
import type { StarAndForkT } from 'src/types';

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);

// 服务端构建预先获取star数和fork数作为兜底
const { stargazers_count=0, forks_count=0 }:StarAndForkT = await sendFetch("https://api.github.com/repos/alibaba/spring-cloud-alibaba");
---

<div class="home-introduce-wrapper bg-base-100">
    <Carousel
        useduration="apply"
        duration={5000}
    >
        <div slot="prev" class="block w-full min-h-[500] flex banner-toai max-w-[90rem]">
          <a
              href="/ai/" 
              target="_blank"
              class="block w-full"
          >
            <div class="w-full min-h-[31.25rem] px-[2.5rem]">
              <h1 class="cursor-pointer xl:pt-[5.625rem] lg:pt-[5.625rem] md:pt-[6rem] pt-[5.625rem] xl:text-[4.5rem] lg:text-[4rem] md:text-[4rem] sm:text-[3rem] text-[2rem] text-neutral">
                Spring AI Alibaba
              </h1>
              <p class="cursor-pointer leading-[5rem] text-neutral mb-8 xl:text-[2rem] lg:text-[2rem] md:text-[2rem] sm:text-[1.5rem] text-[1rem]">
                {t('home.website.ai.quickly.develop')}
              </p>
            </div>
          </a>
          <div class="aibutton-a absolute bottom-[8.125rem] left-[2.5rem]">
            <AiButton client:load/>
          </div>
        </div>

        <home-introduce
            slot="next"
            class="introduce flex flex-col justify-center items-center h-full min-h-[31.25rem]"
        >
            <div class="top-section flex flex-col relative">
                <h1 class="font-light introduce_about pt-6 pb-4 text-warning text-xs">
                    {t("home.introduce.about")}
                </h1>
                <p class=`title leading-[5rem] text-neutral mb-8 ${ifzh ? 'lg:text-[3.75rem] text-[2.75rem]' : 'text-[4rem]'}`>
                    {t("home.introduce.title")}
                </p>
                <StarAndForkV2 client:load SITE={SITE} stargazers_count={stargazers_count} forks_count={forks_count} />
            </div>
        </home-introduce>
    </Carousel>
    <ProductDisplayCard />
</div>

<style is:global>
  .home-introduce-wrapper {
    a {
      text-decoration: inherit;
      color: theme("colors.accent");
    }    
    .banner-toai{
      background: url('https://gw.alicdn.com/imgextra/i3/O1CN01MLx4AB1MAxV8Z6pGh_!!6000000001395-0-tps-5760-2000.jpg') no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
    .aibutton-a a:nth-child(1) {
      color: theme("colors.base-100");
    }
    .aibutton-a a:nth-child(2) {
      color: theme("colors.neutral");
    }
    .top-section {
      width: 85.125rem;
      overflow: hidden;
    }
    .top-section .notes .pc-version-intro {
      display: inline;
    }
    .top-section .notes .mobile-version-intro {
      display: none;
    }
    .top-section .shortcut button {
      height: 3rem;
      min-height: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .bottom-section {
      width: 85.125rem;
    }
    .bottom-section .desc {
      width: 9.75rem;
      height: 22.5rem;
      background-color: theme("colors.accent");
      transition: width 0.8s;
    }

    .bottom-section .desc .text {
      opacity: 0;
      transition: opacity 0.8s;
    }
    .bottom-section .log {
      flex: 1;
      display: flex;
      position: relative;
      overflow: hidden;
      transition: width 0.8s;
    }
    .bottom-section .desc:hover {
      width: 31.25rem;
    }
    .bottom-section .desc:hover .log {
      flex: 1;
    }
    .bottom-section .desc:hover .text {
      opacity: 1;
    }
    .bottom-section .desc:hover .arrow {
      display: none;
    }
    .divider-horizontal {
      width: 1px;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    a {
      text-decoration: none;
    }
    .fork {
      background: rgba(244, 244, 246, 0.2);
      backdrop-filter: blur(36px);
    }
    .fork:hover {
      background: rgba(244, 244, 246, 0.2) !important;
      backdrop-filter: blur(36px);
    }
    .introduce {
      background: url('https://img.alicdn.com/imgextra/i2/O1CN019ckV3m1s2m7zNXIpc_!!6000000005709-0-tps-5760-2000.jpg') no-repeat;
      background-size: cover;
      background-position: 0 0;
    }
    
    @media (min-width: 40rem) and (max-width: 50rem) { 
      .banner-toai {
        background-position: 0 -6rem!important;
      }
    }

    /* 小于50rem  小于 800px */
    @media (max-width: 50rem) {
      .banner-toai {
        background: url('https://img.alicdn.com/imgextra/i4/O1CN01EH1c9x1Xw62QgLKke_!!6000000002987-0-tps-3120-2928.jpg') no-repeat;
        background-size: cover;
        background-position: 0 0;
      }
      
      .introduce {
        /* min-height: 0; */
        padding: 1.5rem;
      }
      .top-section {
        width: 100%;
      }
      .top-section .title {
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .top-section .shortcut button {
        height: 2rem;
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }
      .introduce_about {
        margin-top: 0rem;
      }
      .top-section .notes {
        margin-top: 1.25rem;
      }
      .bottom-section {
        width: 100%;
        display: none !important;
      }
      .mobile-bottom-section {
        display: block !important;
      }
      .mobile-bottom-section .btn:hover {
        background-color: theme(colors.neutral) !important;
      }
    }
    @media (min-width: 50rem) and (max-width: 60rem) {
      .banner-toai {
        background-position: -5rem 0;
      }
    }
    /* 大于50rem 小于 72rem  800px < width < 1440 */
    @media (min-width: 50rem) and (max-width: 86rem) {
      .introduce {
        padding: 2.5rem;
      }
      .top-section,
      .bottom-section {
        width: 100%;
      }
      .top-section .notes .pc-version-intro {
        display: none;
      }
      .top-section .notes .mobile-version-intro {
        display: inline;
      }
      .bottom-section .desc div {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
</style>
