---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { Arrow } from "../icon";
import { ProductDisplayCardData } from "@/constant";
const t = useTranslations(Astro);
const ifzh = isChinese(Astro);

---
<div class="flex flex-col justify-center items-center pt-14 solution-wrapper bg-base-100 hidden md:flex max-w-[85.125rem] mx-auto">
  <div class="w-full mb-[10px]">
    <h2
      class=`font-light solution-slogan h-[41px] text-success text-[16px] md:text-[20px] leading-4 rounded-[20px] px-5 py-3`
      class:list={[
        {
          "w-[438px]": ifzh,
          "w-[543px]": !ifzh,
        },
      ]}
    >
      {t('home.product.introduce.title')}
    </h2>
  </div>
  <ul class="p-0 flex justify-center items-center w-full flex-wrap">
  {
    ProductDisplayCardData.map((item, index) => {
      return (
      <li class="list-none solution_content w-[328px] h-[306px] border-t border-success/[0.3] mt-7 px-0 mb-[42px] mr-[12px]">
        <a class="block" href={item.href}>
        <div class="pt-4 pb-6 px-4 h-[86px]">
          <div class="text-warning text-[18px] leading-[18px] font-medium mb-[12px] flex justify-between">
            <h3 class="font-light">{item.title}</h3>
            <span class="arrow-icon hidden">
              <Arrow classes="fill-info" />
            </span>
            </div>
          <p class="text-success text-[14px] leading-4">{t(item.body)}</p>
        </div>
        <img class='w-[328px] h-[220px] object-cover rounded-2xl' src={item.cover} alt="" />
        </a>
      </li>
      );
    })
  }
  </ul>
</div>
  <style is:global>
    .solution-wrapper {
      .solution-slogan {
        background: linear-gradient(
          90deg,
          rgba(157, 215, 162, 0.3) 11%,
          rgba(165, 198, 230, 0.29) 104%,
          rgba(143, 168, 166, 0.14) 104%
        );
        color: #6b8a88;
      }
      .solution_content{
        &:hover {
          .arrow-icon {
            display:flex;
            opacity: 0; /* 开始时隐藏 */
            transform: translate(-100%, 100%); /* 从左下角开始 */
            animation: fadeInUp 1s ease forwards;
          }
      }
      }
  
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translate(-100%, 30%);
        }
        to {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  </style>
