// 品牌色
$brandColor: #69bd44;
// 渐变起始色
$startColor: #93dc83;
// 渐变结束色
$endColor: #97d17d;
// 侧边菜单背景色
$sideMenuBgColor: #f8f8f8;
// 顶部悬浮菜单背景色，用于移动端
$headerMenuBgColor: #f8f8f8;

// 头部高度
$headerHeight: 66px;
// 侧边栏宽度
$sideMenuWidth: 295px;
// bar高度
$barHeight: 200px;
// 切换到移动端显示屏宽界限
$mobileWidth: 640px;
// 页面主体最大宽度
$contentWidth: 1280px;