@import '../../css/variables.scss';

.footer-container {
  background: #E6FFDE;
  border-top: 1px solid #98DC7A;

  .footer-body {
    max-width: $contentWidth;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 40px 0;

    @media screen and (max-width: $mobileWidth) {
      padding-left: 20px;
      padding-right: 20px;
    }

    .docusaurus-power {
      font-size: 14px;
      color: #ccc;
      line-height: 18px;
      margin-bottom: 40px;
    }

    img {
      height: 36px;
      margin-right: 20px;
      vertical-align: middle;
    }

    .cols-container {
      margin-bottom: 60px;

      .col {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
      }

      .col-12 {
        width: 50%;
        padding-right: 125px;
      }

      .col-6 {
        width: 25%;
      }

      h3 {
        font-family: Avenir-Medium;
        font-weight: 700;
        font-size: 18px;
        color: #333;
        line-height: 18px;
        margin-bottom: 20px;
      }

      p {
        font-family: Avenir-Medium;
        font-size: 12px;
        color: #999;
        line-height: 18px;
      }

      dl {
        font-family: Avenir-Medium;
        font-weight: 700;
        line-height: 18px;
      }

      dt {
        font-weight: bold;
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
      }

      dd {
        padding: 0;
        margin: 0;

        a {
          text-decoration: none;
          display: block;
          font-size: 14px;
          color: #999;
          margin: 10px 0;
        }

        a:hover {
          color: $brandColor;
        }
      }
    }

    .copyright {
      border-top: 1px solid #ccc;
      min-height: 40px;
      line-height: 20px;
      text-align: center;
      font-family: Avenir-Medium;
      font-size: 12px;
      color: #999;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        margin: 0 auto;
      }
    }

    .record {
      line-height: 20px;
      min-height: 40px;
      text-align: center;
      font-family: Avenir-Medium;
      font-size: 12px;
      color: #999;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: inline-block;
        margin: 0 auto;
        color: #999;
      }
    }
  }

  .footer-box {
    height: 40px;
    background-color: #98DC7A;
    color: #3A3A3A;
    font-family: PingFangSC;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .footer-container {
    .footer-body {
      .cols-container {
        .col {
          width: 100%;
          text-align: center;
          padding: 0;
        }

        .col-12 {
          padding-left: 5px;
        }
      }
    }
  }
}