---
import { Headline } from "@serverless-cd/goat-ui";
import { useTranslations } from "@i18n/util";

const t = useTranslations(Astro);
---

<div class="bg-secondary">
  <div class="mx-auto choose-reason-ai-wrapper pt-[5rem]">
    <Headline
      title={t("home.website.architecture.diagram.description")}
      tagline={t("home.website.architecture.diagram.title")}
      titleTheme="neutral"
      taglineTheme="info"
    />
    <div class="mx-auto max-w-[90rem] mt-[6.25rem]">
      <img 
        class="w-full lg:mx-h-[45.75rem]"
        src="https://img.alicdn.com/imgextra/i2/O1CN01sON0wZ21yKROGt2SJ_!!6000000007053-2-tps-5440-2928.png" 
        alt="ArchitectureDiagram"
      />
    </div>
  </div>
</div>