---
import { useTranslations } from "@i18n/util";
import { Headline } from "@serverless-cd/goat-ui";
import { CORE_FEATURE_LIST } from "@/constant";
import { Aibox, Aibook, Aicen } from "../icon";
	
const t = useTranslations(Astro);
---

<div class="bg-secondary">
  <div class="mx-auto choose-reason-ai-wrapper pt-[5rem] max-w-[90rem]">
    <Headline
      tagline={t("home.website.core.features")}
      title={t("home.website.ai.title")}
      titleTheme="neutral"
      taglineTheme="info"
    />

    <ul class="p-0 flex flex-wrap justify-center mt-[5rem]">
      {
          CORE_FEATURE_LIST.map((reason) => {
            const { title, svgKey, description } = reason;
            return (
              <li class="card-item-wrapper relative list-none p-[1.5rem] rounded-[1.25rem]">
                <div class="card-item-bg w-full h-full absolute top-0 left-0 rounded-[1.25rem]"></div>
                <div class="card-item-icon rounded-[0.5rem]">
                {(() => {
                        switch (svgKey) {
                          case "aibox":
                            return <Aibox classes="fill-primary" />;
                          case "aibook":
                            return <Aibook classes="fill-primary" />;
                          case "aicen":
                            return <Aicen classes="fill-primary" />;
                          default:
                            return null;
                        }
                  })()}
                </div>

                <div class="py-4 text-neutral text-[1.125rem] leading-4">
                  {t(title)}
                </div>

                <p class="text-info text-sm" set:html={t(description)} />
              </li>
            );
          })
      }
    </ul>
  </div>
</div>



<style is:global>
  .choose-reason-ai-wrapper {
    .card-item-wrapper {
      margin-right: 1rem;
      overflow: none;
      flex: 1;
    }
    .card-item-bg {
      background: linear-gradient(56deg, #9DD7A2 47%, #A5C6E6 100%, rgba(143, 168, 166, 0.47) 100%);
      opacity: 0.3;
    }

    .card-item-wrapper:last-of-type {
      margin-right: 0;
    }

    @media (max-width: 65rem) {
      .card-item-wrapper {
        max-width: 100%;
        width: 100%;
        margin: 0 1rem 1rem;
        flex: 0 1 auto;
      }
      .card-item-wrapper:last-of-type {
        margin-right: 1rem;
      }
    }

    .card-item-icon {
      background: theme("colors.primary");
      width: 3rem;
      height: 3rem;
      line-height: 4rem;
      text-align: center;
    }
  }
</style>
