---
import { useTranslations } from "@i18n/util";
import { LinkButton } from "@serverless-cd/goat-ui"
const t = useTranslations(Astro);
const friendLinks = [
  { 
    label: 'Nacos', 
    link: 'https://nacos.io/' 
  },
  { 
    label: 'SpringCloudAlibaba', 
    link: 'https://sca.aliyun.com/' 
  },
  { 
    label: 'Arthas', 
    link: 'https://arthas.aliyun.com/' 
  },
  { 
    label: 'Dubbo', 
    link: 'https://cn.dubbo.apache.org/zh-cn/' 
  },
  { 
    label: 'Sentinel', 
    link: 'http://sentinelguard.io' 
  },
  { 
    label: 'Higress', 
    link: 'https://higress.cn/' 
  },
  { 
    label: 'RocketMQ', 
    link: 'https://rocketmq.io/' 
  },
  { 
    label: '可观测中文', 
    link: 'https://observability.cn/' 
  },
  { 
    label: 'OpenKruise', 
    link: 'https://openkruise.io/' 
  },
  { 
    label: 'serverless-devs', 
    link: 'https://www.serverless-devs.com/' 
  },
];
---

<footer-layout
  class="home-footer w-full bg-secondary flex flex-col items-center py-10 pt-[5rem]"
>
  <slot name="after-footer" />
  <div
    class="footer-top flex-col flex bg-error rounded-2xl text-center lg:flex-row"
  >
    <div class="footer-left flex flex-col gap-0 text-left my-9 ml-10 max-w-2xl">
      <p
        class="footer-left-title text-neutral text-[1.75rem] leading-9 lg:w-[25.9375rem] lg:h-10"
      >
        <b class="font-light">{t("commmon.footer.title")}</b>
      </p>
      <p
        class="footer_left_des flex-1 text-neutral text-[0.875rem] w-[42rem] h-[4.5rem] mt-4 mb-[3rem]"
      >
        {t("commmon.footer.ai.description")}
      </p>
      <div class="flex">
        <LinkButton  
          href="https://github.com/alibaba/spring-ai-alibaba"
          text="GitHub"    
          theme="secondary"    
          textTheme="neutral" 
        />
        
        <div class="inline-block group relative ml-[1rem]">
          <div class="hidden lg:block xl:block">
            <div
              class={`
                  group inline-block border-none button-secondary bg-secondary
                  btn transition-shadow ease-in-out duration-200
                  flex items-center justify-center text-sm rounded-3xl no-underline 
                  link-button-bg-secondary xp-large h-large
                  rounded-3xl mr-4 text-neutral w-[9rem] font-light
              `}
            >
              DING
              <div class="absolute bottom-0 left-0 opacity-0 w-0 h-0 group-hover:opacity-100 group-hover:bottom-[3rem] group-hover:w-[22rem] group-hover:h-[21rem]">
                <img 
                  class="w-full h-full"
                  alt="ding"
                  src="https://img.alicdn.com/imgextra/i2/O1CN01qZY6WJ25tz9FzTxMi_!!6000000007585-2-tps-426-406.png"
                />
              </div>
            </div>
          </div>
          
          <div class="block lg:hidden xl:hidden">
            <LinkButton  
              class="md:hidden"
              href={"https://img.alicdn.com/imgextra/i4/O1CN01ar15Ju1wDXuIxjk4s_!!6000000006274-2-tps-864-856.png"}
              text="DING"    
              theme="secondary"    
              textTheme="neutral" 
            />
          </div>
        </div>
       </div>
    </div>
    <div
      class="footer-right grid grid-cols-2 gap-2 flex text-left mt-9 ml-[9.625rem]"
    >
      <div>
        <p
          class="text-neutral text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
          {t("commmon.footer.docs")}
        </p>
        <ul class="list-none w-[13.3125rem] h-4 ps-0 text-warning">
          <li>
            <a
              href="#"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              {t("commmon.footer.actions.overview")}
            </a>
          </li>
          <li>
            <a
              href="/docs/ai/get-started/"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              {t("commmon.footer.actions.start")}
            </a>
          </li>
          <li>
            <a
              href="https://github.com/alibaba/spring-ai-alibaba"
              target="_blank"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              {t("commmon.footer.actions.guide")}
            </a>
          </li>
        </ul>
      </div>
      <div>
        <p
          class="text-neutral text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]"
        >
          {t("commmon.footer.resource")}
        </p>
        <ul class="list-none w-full h-4 ps-0 text-warning">
          <li>
            <!-- TODO: 企业版链接 -->
            <a
              href="https://www.aliyun.com/product/aliware/mse"
              target="_blank"
              class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 no-underline"
            >
              {t("commmon.footer.actions.enterprise")}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="w-[90rem] self-center divider divider-vertical bg-muted mt-10 mb-0 h-[0.05rem]"
  >
  </div>
  <!-- TODO: 底部水印 -->
  <div
    class="bottom_watermark text-[.875rem] text-info leading-6 text-center tracking-normal lg:pb-1 lg:pt-8"
  >
    <p class="text-neutral-500 flex pb-4 flex-wrap gap-2 lg:gap-4 justify-center">
      <!-- 友情链接 -->
      {t('commmon.footer.friend.link')}：
      {
        friendLinks.map(item => <a href={item.link} target="_blank" class="hover:text-primary transition-colors">{item.label}</a>)
      }
    </p>
    © Spring Cloud Albaba Authors 2024 | Documentation Distributed under <a
      href="https://creativecommons.org/licenses/by/4.0"
      target="_blank">CC-BY-4.0</a
    >
    <br />
     Copyright © 2017-2024, Alibaba. All rights reserved. Alibaba has
    registered trademarks and uses trademarks.
  </div>
</footer-layout>

<style is:global>
  footer-layout {
    a {
      text-decoration: none; /* 清除下划线等默认样式 */
      color: inherit; /* 继承父元素的颜色 */
    }
    .footer-top {
      width: 90rem;
    }
    @media (min-width: 50rem) and (max-width: 86rem) {
      .home-footer {
        padding: 2.5rem;
      }
      .footer-top {
        height: auto;
        width: 100%;
        min-height: 28rem;
      }
      .footer-right {
        margin-left: 2.5rem;
        margin-bottom: 2rem;
      }
      .footer-left-button {
        margin: 1rem 0rem;
      }
      .footer-right > div {
        height: auto;
      }
      .footer-right p {
        margin-bottom: 2rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .divider-vertical {
        width: 100%;
      }
    }
    @media (max-width: 50rem) {
      .home-footer {
        padding: 1.5rem !important;
      }
      .footer-top {
        /* align-items: center; */
        min-height: 28rem;
        padding: 1.5rem;
        height: auto;
        width: 100%;
      }

      .footer-left {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1rem;
        margin-top: 0;
      }

      .footer-left p {
        margin: 0rem 0rem 1rem 0rem;
        width: auto;
        height: auto;
      }
      .footer-left-title {
        font-size: 1.125rem;
      }
      .footer-left-des {
        font-size: 0.875rem;
      }

      .footer-left-button {
        margin: 1rem 0rem;
        width: 6rem;
        height: 2rem;
        min-height: 2rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
      }

      .footer-right {
        width: 100%;
        margin: 0rem !important;
        padding-top: 0rem;
        overflow: hidden;
      }

      .footer-right > div {
        margin-right: 1rem;
        margin-bottom: 1rem;
        width: 8.25rem;
        height: auto;
      }

      .footer-right p {
        width: 8.25rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
      }
      .footer-right ul {
        height: 100%;
      }
      .footer-right a {
        font-size: 0.75rem !important;
      }
      .bottom_watermark {
        margin: 0rem 0.5rem;
        padding: 0.5rem 0rem;
      }
      .divider-vertical {
        width: 100%;
      }
    }
  }
</style>
