---
import { useTranslations } from "@i18n/util";
import Button from "@components/home/StarAndForkV2/Button.jsx";
import Video from "@components/home/StarAndForkV2/Video.jsx";
import { SITE } from "@utils/config";


const t = useTranslations(Astro);
---

<div class="bg-secondary">
  <div class="max-w-[90rem] min-h-[500px] mx-auto relative">
    <ai-home-introduce class="block md:w-full h-full flex">
      <div class="absolute pl-[2.5rem]">
        <h1 class="cursor-pointer xl:pt-[8.625rem] lg:pt-[6.625rem] md:pt-[10rem] pt-[7.625rem] xl:text-[4.5rem] lg:text-[4rem] md:text-[3.5rem] sm:text-[3rem] text-[2rem] text-neutral">
          Spring AI Alibaba
        </h1>
        <p class=`cursor-pointer leading-[5rem] text-neutral mb-8 xl:text-[2rem] lg:text-[2rem] md:text-[2rem] sm:text-[1.5rem] text-[1rem]`>
            {t('home.website.ai.quickly.develop')}
        </p>
        <div class="flex">
          <Button 
            size="large"
				    class="rounded-3xl mr-4 text-base-100 w-[9rem]"
            href="/ai/get-started/"
            target="_blank"
            type="primary"
            iconClass="text-base-100"
          >
            <Video theme="light" class="text-base-100"/>
            {t('commmon.footer.actions.start')}
          </Button>

          <Button 
            size="large"
				    class="rounded-3xl mr-4 text-neutral w-[9rem]"
            href={SITE.githubUrl} 
            target="_blank"
            type="secondary"  
            iconClass="text-neutral"
          >
            GITHUB
          </Button>
        </div>
      </div>

      <img
        class="cursor-pointer w-full md:h-[500px] flex hidden lg:inline-block"
        src="https://img.alicdn.com/imgextra/i3/O1CN01MLx4AB1MAxV8Z6pGh_!!6000000001395-0-tps-5760-2000.jpg"
      />
    
      <img 
        class="cursor-pointer min-h-[500px] max-h-[800px] w-full lg:hidden"
        src="https://img.alicdn.com/imgextra/i4/O1CN01EH1c9x1Xw62QgLKke_!!6000000002987-0-tps-3120-2928.jpg"
      />
    </ai-home-introduce>
  </div>
</div>

<script>
  class AiHomeIntroduce extends HTMLElement {
    constructor() {
      super();
      this.addEventListener("click", (event) => {
        if (event.target.tagName.toLowerCase() !== 'a') {
          this.goSCAhome()
        }
      });
    }

    goSCAhome = () => {
      window.open('https://sca.aliyun.com');
    } 
  }

  customElements.define("ai-home-introduce", AiHomeIntroduce);
</script>