---
import { UpRight } from "../icon";
const { cardData = [] } = Astro.props;
---

<div
  class="w-[41.875rem] h-[9.5rem] grid gap-x-12 gap-4 md:gap-6 sm:gap-y-8 sm:grid-cols-2 not-content"
>
  {
    cardData.map((item) => {
      const { title, description, href } = item;
      return (
        <a
          href={href}
          target="_blank"
          class={
            "card group no-underline bg-error h-[9.5rem] rounded-2xl pt-6 pb-6 pl-6 pr-14 hover:shadow-xl transition ease-in-out hover:scale-[102%] cursor-pointer"
          }
        >
          <div class={"card-body text-sm p-0 font-normal"}>
            <div class={"card-title line-clamp-2 text-neutral"}>
              {title}
              <UpRight
                classes="card-link-icon group-hover:ml-2 absolute top-8 right-8 group-hover:opacity-100 group-hover:w-[16px] group-hover:translate-x-[3px] opacity-0 w-0 duration-200 ease-in-out"
              />
            </div>
            <div class="line-clamp-3 text-neutral/50">{description}</div>
          </div>
        </a>
      );
    })
  }
</div>
