---
import { useTranslations } from "@i18n/util";
import { Email, Ding, Github } from "../icon";
import {SITE} from "@utils/config"
const t = useTranslations(Astro);
---

<menu-container
  class="menu-container dropdown-docs w-screen h-screen flex flex-col justify-start items-center"
>
  <div class="bg-secondary p-10 w-full flex justify-center">
    <div class="w-fit">
      <div class="flex justify-between mb-[3.5rem]">
        <slot name="left" />
        <slot name="right" />
      </div>
      <!-- 联系我们 -->
      <div
        class="w-[70rem] bg-muted flex items-center justify-between rounded-2xl h-9 pl-10 pr-[8.5rem]"
      >
        <span class="text-accent text-xs leading-9 tracking-[0.15em]">
          {t("commmon.header.comm.contact")}
        </span>
        <div class="flex items-center cursor-pointer">
          <a
            target="_blank"
            href={SITE.githubUrl}
            class="mr-16 flex items-center no-underline"
          >
            <Github themeClass="primary-fill" />
            <span class="ml-2 mt-1 text-sm text-neutral"
              >{t("commmon.header.contact.git")}</span
            >
          </a>

          <div class="mr-16 hoverable relative">
            <img
              class="tooltip hidden w-40 absolute bottom-9"
              src="https://img.alicdn.com/imgextra/i4/O1CN01l28X701EDgtmG4oNI_!!6000000000318-2-tps-864-856.png"
              alt=""
            />
            <span class="text-neutral flex items-center">
              <Ding themeClass="primary-fill" />
              <span class="ml-2 mt-1 text-sm text-neutral"
                >{t("commmon.header.contact.ding")}</span
              >
            </span>
          </div>

          <!-- TODO: 设置产品联系邮箱 -->
          <a
            href="mailto:spring-cloud-alibaba@googlegroups.com"
            class="text-neutral flex items-center no-underline"
          >
            <Email themeClass="primary-fill" />
            <span class="ml-2 mt-1 text-sm text-neutral"
              >{t("commmon.header.contact.mail")}</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-overlay w-full flex-1 bg-neutral/[0.4] backdrop-blur-md">
  </div>
</menu-container>

<script>
  class MenuContainer extends HTMLElement {
    constructor() {
      super();
      const toggleDropdown = this.parentElement;
      const communityOverlay = this.querySelector(".dropdown-overlay");
      communityOverlay.addEventListener("mouseenter", () => {
        toggleDropdown.classList.remove("toggle-dropdown-active");
        toggleDropdown.classList.add("toggle-dropdown-notactive");
      });
    }
  }
  customElements.define("menu-container", MenuContainer);
</script>

<style is:global>
  .menu-container{
    .primary-fill {
      fill: theme("colors.primary");
    }
    .toggle-dropdown-notactive {
      display: none;
    }
    .hoverable:hover img {
      display: block;
      z-index: 1;
    }
    .card-link-icon {
      transition: width 0.3s ease;
    }
  }
  
</style>
